{%- from "vault/map.jinja" import vault with context -%}
{%- if vault.backend and vault.backend.type == "s3" %}
backend "s3" {
  bucket = "{{ vault.backend.bucket }}"
}
{% endif -%}

ui="{{ vault.ui_enable }}"
listener "{{ vault.listen_protocol }}" {
  address = "{{ vault.listen_address }}:{{ vault.listen_port }}"
  cluster_address = "{{ vault.cluster_address }}:{{ vault.cluster_port }}"
  tls_disable = {{ vault.tls_disable }}
{% if vault.self_signed_cert.enabled %}
  tls_cert_file = "/etc/vault/{{ vault.self_signed_cert.hostname }}.pem"
  tls_key_file = "/etc/vault/{{ vault.self_signed_cert.hostname }}-nopass.key"
{% else %}
{%- if vault.tls_cert_file %}
  tls_cert_file = "{{ vault.tls_cert_file }}"
{% endif -%}
{%- if vault.tls_key_file %}
  tls_key_file = "{{ vault.tls_key_file }}"
{% endif -%}
{% endif %}
}

storage "{{ vault.storage.type }}" {
  address = "{{ vault.storage.address }}"
  path    = "{{ vault.storage.path }}"
  scheme = "{{ vault.storage.scheme }}"
  tls_ca_file = "{{ vault.storage.tls_ca_file }}"
  token = "{{ vault.storage.token }}"
}

api_addr="http://{{ vault.cluster_address }}:{{ vault.listen_port }}"
cluster_addr="https://{{ vault.cluster_address }}:{{ vault.cluster_port }}"


default_lease_ttl="{{ vault.default_lease_ttl }}"
max_lease_ttl="{{ vault.max_lease_ttl }}"
